.account {
	background: #fff;
	margin-top: 30px;
	margin-left: 20px;
	padding-left: 25px;
	padding-bottom: 30px;

}
.cart {
	background: #fff;
	margin-top: 30px;
	margin-right: 20px;
	padding-left: 25px;
	padding-bottom: 30px;
	padding-right: 30px;
}
.account button {
	border-radius: 0;
}
.item_image {
      margin-top: 36px;
    /* width: 100%; */
    height: 120px;
    border-radius: 50px;
    overflow: hidden;
    width: 120px;
}
.item_image img{
	height: 120px;
}
.main_div_before_login {
	background: #c4c2c2; 
	margin-left: 15px; 
	margin-right: 15px;
	padding-bottom: 20px;
}
.acount_icon {
	background: #050571;
	position: absolute;
    left: -24px;
    top: 10px;
    box-shadow: 1px 1px 1px 1px #808080	
}
.acount_icon i{
	color: white;
	padding: 7px;
	
}
.account .col-md-8 {
	margin-top: 30px;
}
.other {
	background: white;

}
.other i{
	color: black;
}
.main_div_after_login {
	background: #c4c2c2; 
	margin-left: 15px; 
	margin-right: 15px;
	padding-bottom: 20px;
}
.payment a {
	color: black;
	border: 1px solid #c4c4c4;
	text-decoration: none;
	padding: 0px 5px;
	text-align: left;

}
.cart_image {
	margin-top: 20px;
    height: 70px;
    width: 70px;
}
/*Customize Inpute Number*/
.number-input-food input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input-food input[type=number]::-webkit-inner-spin-button,
.number-input-food input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input-food {
  border: 1px solid #cccc;
  display: inline-flex;
      /*position: absolute;
    right: 33px;
    bottom: 54px;*/
}
.number_food_cart {
      right: 0;
    bottom: 0;
    position: relative;
}
.cutomise_price {
  margin-left: 10px;
}
.cutomise {
  position: absolute;
    right: 36px;
    font-size: 12px;
    bottom: 34px;
}
.checkout_btn {
  width: 85%; 
  margin-top: 20px;
  border-radius: 0;
}

.number-input-food,
.number-input-food * {
  box-sizing: border-box;
}

.number-input-food button {
  /*border-radius: 50%;*/
  /*border: 1px solid #aba9a9 !important;*/
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  background: transparent;
}
.number-input-food button:after {
  background-color: #777 !important;
}
.number-input-food button:before,
.number-input-food button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #00d940;
    transform: translate(-50%, -50%);
}
.number-input-food button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.caption-food {
  padding: 5px 0px !important;
  margin: 0 15px;  
}
.caption-food p {
  margin: 0 30px;
}
.caption-food .price {
  margin: 0 30px;
}

.number-input-food input[type=number] {
    font-family: sans-serif;
  max-width: 2rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0;
  font-size: 1.4rem;
  height: 3rem;
  text-align: center;
}
.coupon_btn {
  margin-left: 26px;
}
/* Customize Inpute Number End*/

@media  only screen and (max-width: 767px){ 
  .account {
    margin-left: 12px;
    margin-right: 12px;
  }
  .account button {
    margin-bottom: 20px;
  }
  .cart {
    margin-left: 12px;
    margin-right: 12px;
  }
  .payment a {
    font-size: 11px;
    padding: 4px 13px;
  }
  .payment_btn_col {
    padding-left: 10;
  }
  .coupon_btn {
    margin-left: 6px;
  }
}
