* {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  transition: all .1s ease;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 64px;
}

.page-section {
  /*height: 480px;*/
  width: 100%;
  /*margin-left: 35%;*/
  margin-top: 5%;
  padding: 3em;
  /*background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);*/
  /*color: white;*/
  /*box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);*/
}

.navigation {
  position: fixed;
  width: 20%;
  margin-left: 2%;
  /*background-color: #999;*/
  color: #fff;
  top: 200px;
  /*margin-top: 80px*/
}
.navigation__link {
  display: block;
  text-align: right;
  color: black;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
}
.navigation__link:hover {
  background-color: #aaa;
}
.navigation__link.active {
    color: #FC8019;
    font-weight: 700;
    border-right: 2px solid #FC8019;
}
.thm_card {
  border: 0;
}
.thm_card:hover {
  border: 0 !important;
}
/*Customize Inpute Number*/
.number-input-food input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input-food input[type=number]::-webkit-inner-spin-button,
.number-input-food input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input-food {
  border: 1px solid #cccc;
  display: inline-flex;
      position: absolute;
    right: 33px;
    bottom: 54px;
}
.number_food_cart {
      right: 0;
    bottom: 0;
    position: relative;
}
.cutomise_price {
  margin-left: 10px;
}
.cutomise {
  position: absolute;
    right: 36px;
    font-size: 12px;
    bottom: 34px;
}
.checkout_btn {
  width: 85%; 
  margin-top: 20px;
  border-radius: 0;
}

.number-input-food,
.number-input-food * {
  box-sizing: border-box;
}

.number-input-food button {
  /*border-radius: 50%;*/
  /*border: 1px solid #aba9a9 !important;*/
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  background: transparent;
}
.number-input-food button:after {
  background-color: #777 !important;
}
.number-input-food button:before,
.number-input-food button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #00d940;
    transform: translate(-50%, -50%);
}
.number-input-food button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.caption-food {
  padding: 5px 0px !important;
  margin: 0 15px;  
}
.caption-food p {
  margin: 0 30px;
}
.caption-food .price {
  margin: 0 30px;
}

.number-input-food input[type=number] {
    font-family: sans-serif;
  max-width: 2rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0;
  font-size: 1.4rem;
  height: 3rem;
  text-align: center;
}
/*End*/
.img_zoom_food i {
  top: -20px !important;
    position: absolute;
    right: 6px;
    font-size: 16px;
}
.add_food_btn {
    position: absolute;
    bottom: 52px;
    right: 31px;
    color: green;
   border-radius: 0;
}
.caption-food .span_dot  {
  border: 1px solid green;
}
.caption-food .span_dot i {
  color: green; 
  font-size: 12px;
}