/*Header Css*/
.top_header{padding-top:7px;background-color: #fff;}
.top_header ul{list-style-type: none;margin: 0;}
.top_header ul.top_nav_2 li{display: inline-block;padding: 15px 20px;}
.top_header ul.top_nav_2 li:last-child{padding: 0px 0px 7px;}
.top_header ul.top_nav_2{padding-left: 0;}
.top_header ul li{display: inline-block;padding: 15px 12px;}
.top_header ul li:last-child{padding: 0;}
.top_header ul li:last-child a{line-height: 0}
.top_header ul li a{font-size: 16px;color: #999;}
.top_header ul li a img{width: 53px;height: 53px;margin-top: -6px;}
.navbar-nav{padding-top: 17px;  }
.navbar{  border-radius: 0;  height: 80px;  opacity:0.9;}
.navbar.navbar-inverse{background: #161e2c;margin-bottom: 0;opacity: 1;}
.navbar-inverse .navbar-nav>li>a{color: #fff;}
/*.navbar-inverse .navbar-nav>li:last-child{padding-left: 15px;}*/
.navbar.navbar-defualt{background: #d0a620;margin-bottom: 0;height: 50px;}
.navbar.navbar-defualt .navbar-nav{padding-top: 0;}
.navbar.navbar-defualt .navbar-nav li a:hover{background: transparent;}
.navbar.navbar-defualt .navbar-nav li>a{color: #fff;font-size: 16px;}
.navbar.navbar-defualt .navbar-nav li:first-child a{padding-left: 0;}
.navbar.navbar-defualt .navbar-nav li>a.start_project{background: #161e2c;padding-top: 12px;padding-bottom: 12px;margin-top: 2px;padding-left:15px;}
.navbar.navbar-inverse .input-group{width: 318px;background: transparent;padding-right: 0px;border-radius: 0;}
.navbar.navbar-inverse .input-group .form-control{border-radius: 0;color: #fff;height: 44px;}
.navbar.navbar-inverse .input-group .btn-default{
	background: #FF6D00;
	border-radius: 0;color: #fff;height: 44px;border-left: 0; border: none; border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding: 6px 15px;
}
.navbar.navbar-inverse .input-group input::-webkit-input-placeholder{color: #fff;}

.navbar-inverse .navbar-brand{
	color: white;
	padding: 19px 15px;
} 
.search-box{
	display: -webkit-box;
}
.search-box label{
	position: absolute;
    top: 8px;
    left: 8px;
    z-index: 999;
    font-size: 20px;
    color: #979797;
}
.search-box select{
	background: #EFEFEF;
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
	padding-left: 17px;
}
.search-box .form-control{
	border-radius: 0;
	height: 44px;
}
.select-sec{
	width: 36%;
}
.search-bar{
	left: 92% !important;
	color: #4285F4 !important;
}
.right-menu{
	padding-top: 7px;
}
.right-menu .navbar-nav{
	margin-left: 45px;
}
.right-menu li>a{
	padding-top: 5px;
	padding-bottom: 5px;
}
.right-menu li> .btn{
	border-radius: 0;
}
.listing-btn{
	background: #FF6D00;
}
.dropdown button{
	border: transparent;right-menu
}
/*End Header Css*/

/*Home Page*/
.container{
	padding-left: 0;
	padding-right: 0;
}
.contentblock{
	margin-top: 2px;
}
.contentblock .col-md-7, .col-md-5{
	padding-left: 0;
	padding-right: 0;
}
.carousel-indicators{
	text-align: left;
	left: 80%;
}
.contentblock .col-md-5 .col-md-6{
	padding-left: 2px;
    padding-right: 2px;
}
.contentblock .col-md-5 .col-md-6 img{
	width: 100%;
	height: 222px;
}
.overlay-text{
	position: absolute;
	z-index: 999;
	top: 74%;
	left: 7px;
	color: white;
	font-weight: 600;
}
.overlay-text h4{
	text-transform: uppercase;
}
.contentblock .col-md-12{
	padding-right: 2px;
	padding-left: 0;
	display: -webkit-box;
}
.contentblock .col-md-12 .col-md-2-1{
	width: 20%;
	padding-left: 2px;
	padding-right: 2px;
}
.contentblock .col-md-12 .col-md-2-1 img{
	width: 100%;
	height: 222px;
}
.contentblock2 .col-md-12{
	padding-right: 2px;
	padding-left: 0;
	display: -webkit-box;
}
.contentblock2 .col-md-12 .col-md-2-1{
	width: 20%;
	padding-left: 2px;
	padding-right: 2px;
}
.contentblock2 .col-md-12 .col-md-2-1 img{
	width: 100%;
	height: 222px;
}
.shopsBlock{
	/*border: 1px solid black;*/
	border-radius: 10px;
	margin-top: 25px;
	/*margin-left: 25px;*/
	margin-right: 25px;
}
.shopsBlock .col-md-4{
	text-align: center;
}
.shopsBlock .col-md-4 img{
	width: 100%;
	height: 225px;
}