/*Header Css*/
.top_header{padding-top:7px;background-color: #fff;}
.top_header ul{list-style-type: none;margin: 0;}
.top_header ul.top_nav_2 li{display: inline-block;padding: 15px 20px;}
.top_header ul.top_nav_2 li:last-child{padding: 0px 0px 7px;}
.top_header ul.top_nav_2{padding-left: 0;}
.top_header ul li{display: inline-block;padding: 15px 12px;}
.top_header ul li:last-child{padding: 0;}
.top_header ul li:last-child a{line-height: 0}
.top_header ul li a{font-size: 16px;color: #999;}
.top_header ul li a img{width: 53px;height: 53px;margin-top: -6px;}
.navbar-nav{padding-top: 17px;  }
.navbar{  border-radius: 0;  height: 80px;  opacity:0.9;}
.navbar.navbar-inverse{background: #161e2c;margin-bottom: 0;opacity: 1;}
.navbar-inverse .navbar-nav>li>a{color: #fff;}
/*.navbar-inverse .navbar-nav>li:last-child{padding-left: 15px;}*/
.navbar.navbar-defualt{background: #d0a620;margin-bottom: 0;height: 50px;}
.navbar.navbar-defualt .navbar-nav{padding-top: 0;}
.navbar.navbar-defualt .navbar-nav li a:hover{background: transparent;}
.navbar.navbar-defualt .navbar-nav li>a{color: #fff;font-size: 16px;}
.navbar.navbar-defualt .navbar-nav li:first-child a{padding-left: 0;}
.navbar.navbar-defualt .navbar-nav li>a.start_project{background: #161e2c;padding-top: 12px;padding-bottom: 12px;margin-top: 2px;padding-left:15px;}
.navbar.navbar-inverse .input-group{width: 318px;background: transparent;padding-right: 0px;border-radius: 0;}
.navbar.navbar-inverse .input-group .form-control{border-radius: 0;color: #222;height: 44px;}
.navbar.navbar-inverse .input-group .btn-default{
	background: #FF6D00;
	border-radius: 0;color: #fff;height: 44px;border-left: 0; border: none; border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding: 6px 15px;
}
.navbar.navbar-inverse .input-group input::-webkit-input-placeholder{color: #fff;}

.navbar-inverse .navbar-brand{
	color: white;
	padding: 19px 15px;
} 
.search-box{
	display: -webkit-box;
}
.search-box label{
	position: absolute;
    top: 8px;
    left: 8px;
    z-index: 999;
    font-size: 20px;
    color: #979797;
}
.search-box select{
	background: #EFEFEF;
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
	padding-left: 17px;
}
.search-box .form-control{
	border-radius: 0;
	height: 44px;
}
.select-sec{
	width: 36%;
}
/*End Header Css*/


/*Cover Image*/
.cover_img  {
background-size: cover;
    height: 60vh;
    overflow: hidden;
}
/*Text on cover image*/
.about_hotel {
	padding-top: 1px;
    padding-left: 20px;
	color: white;
	background: black;
    opacity: 0.5;
    width: 30%;
}
.about_hotel ul {
	list-style: none;
}
/*Links on bottom of cover image*/
.about_hotel_bottom {
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 178px;
}
.about_hotel_bottom .col  span{
	position: absolute;
	top: 20px;
	color: white;
	font-size: 15px;
	/*opacity: 1;*/
}
.about_hotel_bottom .col {
	background: black;
	height: 70px;
	opacity: 0.7;
}
/*Links on bottom of cover image Ends*/

/*Tabs*/
.main_tab {
	background: white !important;
}
.nav-tab-main {
	background: #E0E0E0;
}
.nav-tab-main li a{
	color: black;
}
.nav-tab-main li a:hover{
	background:  #38414A;
	color: white;
}
.nav-tab-main li a:active {
	background:  #38414A;
	color: white;
}
.nav-tab-main li a:focus {
	background:  #38414A;
	color: white;
}
.nav-tab-main > .active > a, .nav-tab-main > .active > a:hover, .nav-tab-main > .active > a:focus{
	background: #38414A !important;
	color: white;
}

/*Tabs Border Css*/
.nav-tab-main a:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 23px;
  height: 100%;
  background-color: inherit;
}
.nav-tab-main a:after {
      border-radius: 0 4px 0 0;
    transform: skew(34deg);
    right: -12px; / play with this one to give the LI border ~2px extrusion /
  border-right: 1px solid #628E2F;
  z-index: 1; / overlap next element /
}

/ LI ACTIVE  /

nav-tab-main li.active {
  border-bottom: 1px solid #fff;
}

nav-tab-main li.active a {
  color: #8BBF50;
  background: #fff;
}

nav-tab-main li.active a:before {
  z-index: 1; / overlap prev element /
}

nav-tab-main li.active a:after {
  border-bottom: 1px solid #fff;
}
.nav-tab-main>li>a {
	padding: 7px 15px;
}

/*Tabs border css ends*/
.review_section {
	/*border: 1px solid #eee;*/
	border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #dddcdc;
    /*margin-left: 15px;*/
}
.review_section_row {
	/*background: white;*/
	margin-top: 30px;
}
.card {
	border: 1px solid #e7e1e1;
	padding: 15px;
    height: 132px;
    border-radius: 5px;

}
.card_span {
	float: right;
}
.card_arrow {
	padding-right: 5px;
}
.bg-success {
    background-color: green;
    color: white;
}
.bg-primary {
    background-color: blue;
    color: white;
}
.bg-danger {
    background-color: red;
    color: white;
}
.menu_btn_row {
	/*margin-left: 0px;*/
	/*margin-right: 0px;*/
}

.btn_row {
	margin-left: 20px;
}
.btn_arrow {
	margin-top: -5px;
}
.btn-success {
	background: #01a201 !important;
	color: white;
}
.fa_arrow {
	/*background: green;*/
}


*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.label_tabs {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 40%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
.tabs_content_popular{
	margin-top: 30px;
}
.popular_tabs {
	border: 0px;
}
.popular_tabs li a{
	  border: 1px solid #cccc;
	  color: black;
	  margin-right: 10px;
}
.popular_tabs > .active > a, .popular_tabs > .active > a:hover, .popular_tabs > .active > a:focus{
	color: green;
	border: 1px solid green !important;
}
.rating_col {
	margin-bottom: 20px;
}
.rating_heading {
	color: #FF7814;
}
.rating_star {
	padding-left: 30px;
}
.rating_star i {
	color: #FF7814;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
.c100{
	background-color: #fff !important;
	font-size: 80px !important;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill{
	border: 0.08em solid green !important;
}
.c100 > span{
  left: 3px !important;
    top: -2px;

}
.rating_circle {
	color: green !important;
}
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 30%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 100%; height: 4px; background-color: #4CAF50;}
.bar-4 {width: 100%; height: 4px; background-color: #4CAF50;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-40 {width: 40%; height: 4px; background-color: #4CAF50;}
.bar-10 {width: 10%; height: 4px; background-color: #4CAF50;}
.bar-1 {width: 2%; height: 4px; background-color: #ddd7d7;}
.bar-end {width: 100%; height: 4px; background-color: #ddd7d7;}




.bar-container-rating {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    text-align: center;
    color: white;
}
.bar-container-rating span {
	color: black;
}
.md-rating {
 
    width: 80%;
}
.sd-rating {
	width: 20%;
}

.bar-5-rating {width: 45%; height: 18px; background-color: #FFAE6B;}
.bar-4-rating {width: 30%; height: 18px; background-color: #FFAE6B;}
.bar-3-rating {width: 17%; height: 18px; background-color: #FFAE6B;}
.bar-2-rating {width: 5%; height: 18px; background-color: #FFAE6B;}
.bar-1-rating {width: 4%; height: 18px; background-color: #FFAE6B;}

.user_image {
	overflow: hidden;
    height: 47px;
    width: 47px;
    border-radius: 50%;
}
.user_image img {
	height: 52px; 
    width: 100%;
}
.user_comment .fa-star {
	color: #FF7814;
}
.like_badge {
	background: #488CE8;
	border-radius: 50%;
    height: 20px;
    width: 21px;
}
.like_badge2 {
	background: #ff4566;
	border-radius: 50%;
    height: 20px;
    width: 21px;
}
.like_row {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.like_col {
	padding-top: 10px;
	padding-bottom: 10px;
}
.like_col a {
	color: #777;
}
.desctiption h3 {
	background: #acacac;
	color: white;
	padding: 15px;
}
.desctiption p {
	margin-left: 15px;
}
.desctiption  {
	margin-top: 50px;
}
/*Hotel Css Ends*/

	/*index css Start*/
	/*.img-size{
		width: 50px;margin-left: 9px;
	}*/
	.img-pha{
		font-size: 12px;color: #979797;
	}
	.main-img-div{
		/*background-color: #e9e9e9;*/
    width: 66px;
    padding: 14px 5px 13px 0px;
	}
.main_advertisement {
	margin-top: 50px;
	margin-bottom: 50px;
}
.category_btn {
	display: block;
	background: #EFEFEF;
	float: none;
	height: 43px;
	margin-top: 0px;
}
.category_btn span {
	background: black;

}
.search_nav {
	padding-top: 0px;
	margin: 0px;
}
.input-search-btn {
	width: 0%;
}
.search_map_marker {
	top: 10px !important;
  left: 4px !important;
  font-size: 18px !important;
}
.search_mic_marker {
	left: 4px !important;
}
.search_mic_marker {
	top: 10px !important;
  font-size: 18px !important;
}
.search_nav .input-group {
	width: 60%;
}
.search_nav .input-group input{
	background: #EFEFEF;
}
.category_btn_col {
	padding-right: 0;
	padding-left: 0;
	width: 5%;
}
.search_nav .select-sec {
	width: 40%;
}
.search_bar .col-lg-8{
	    width: 72.666667%;
}
.search_nav .input-group {
	width: 60%;
}

.search_nav a {
	/*margin-left: 15px;*/
}
.category_image img {
	width: 100%;
}
.category_image {
	height: 30px;
	width: 30px;
	overflow: hidden;
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}
.bar_div {
	display: -webkit-box;
}
.bar_space {
	margin-left: 5px;
}
.rating_figures {
	margin-top: -18px;
	float: right;
}
.gallery_section .col-xs-4 {
	padding: 0 2px 8px;
}
.gallery_image {
	overflow: hidden;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #bbbbbb
}
.add_new_img {
	background: #adaaaa;
	overflow: hidden;
    height: 66px;
	/*display: block;*/
}
.fa-plus-icon {

}
.search-bar{
	left: 92% !important;
	color: #4285F4 !important;
}
.right-menu{
	padding-top: 7px;
}
.right-menu .navbar-nav{
	margin-left: 45px;
}
.right-menu li>a{
	padding-top: 5px;
	padding-bottom: 5px;
}
.right-menu li> .btn{
	border-radius: 0;
}
.listing-btn{
	background: #FF6D00;
}
.dropdown button{
	border: transparent;
}
.logo-list{
	display: -webkit-box !important;
}
.logo-list .country-dropdown{
	padding-top: 11px;
}
.country-dropdown .btn{
	color: black !important;
}
.country-dropdown .btn .caret{
	color: red;
}
.logo-list .dropdown-menu{
	box-shadow: none;
	border-radius: 0;
	border-color: black;
}
.logo-list .dropdown-menu >li{
	    padding: 10px 20px 10px 0 !important;
}
.logo-list .dropdown-menu >li>a{
	font-size: 14px;
}
/*End Header Css*/

/*Home Page*/
.container{
	padding-left: 0;
	padding-right: 0;
}
.contentblock{
	margin-top: 2px;
}
.contentblock .col-md-7, .col-md-5{
	padding-left: 0;
	padding-right: 0;
}
.carousel-indicators{
	text-align: left;
	left: 80%;
}
.contentblock .col-md-5 .col-md-6{
	padding-left: 2px;
    padding-right: 2px;
}
.contentblock .col-md-5 .col-md-6 img{
	width: 100%;
	height: 222px;
}
.overlay-text{
	position: absolute;
	z-index: 999;
	top: 74%;
	left: 7px;
	color: white;
	font-weight: 600;
}
.overlay-text h4{
	text-transform: uppercase;
}
.contentblock .col-md-12{
	padding-right: 2px;
	padding-left: 0;
	display: -webkit-box;
}
.contentblock .col-md-12 .col-md-2-1{
	width: 20%;
	padding-left: 2px;
	padding-right: 2px;
}
.contentblock .col-md-12 .col-md-2-1 img{
	width: 100%;
	height: 222px;
}
.contentblock2 .col-md-12{
	padding-right: 2px;
	padding-left: 0;
	display: -webkit-box;
}
.contentblock2 .col-md-12 .col-md-2-1{
	width: 20%;
	padding-left: 2px;
	padding-right: 2px;
}
.contentblock2 .col-md-12 .col-md-2-1 img{
	width: 100%;
	height: 222px;
}
.shopsBlock{
	padding-top: 15px;
    padding-bottom: 15px;
	border: 1px solid lightgray;
    box-shadow: 0px 0px 2px 1px #d3d3d3f7;
	border-radius: 6px;
	margin-top: 25px;
}
.shopsBlock .col-md-4{
	text-align: center;
}
.shopsBlock .col-md-4 a{
    color: #c0bfbf;
    text-decoration: none;
}
.shopsBlock .col-md-4 a .fa{
    color: #222;
    padding-left: 3px;
}
.shopsBlock .col-md-4:nth-Child(4){
	padding-top: 15px;
}
/*.shopsBlock .col-md-4:nth-Child(5){
	padding-top: 15px;
}
.shopsBlock .col-md-4:nth-Child(last){
	padding-top: 15px;
}*/
.shopsBlock .col-md-4 img{
	width: 100%;
	height: 225px;
}
.getApp label{
	color: white;
}
.getApp input{
	height: 48px;
}
.getApp .btn{
	padding: 14px 15px;
	border: none;
}
.bg-orange{
	background: #FF6D00;
	color: white;
}
.text-white{
	color: white;
}
.app-bottom-btn{
	list-style: none;
	display: flex;
	padding-left: 30px;
}
/*.app-bottom-btn li{
	background: #222;
	height: 45px;
}*/
.app-bottom-btn a img{
	height: 41px !important;
} 
.apple-btn, .google-btn{
	margin-left: 25px;
    background: #222;
    border-radius: 5px;
}
.add_image_icon{
	margin-left: 40px;
}
.add_image_icon  i{
	margin-top: 10px;
}
.add_image_text  {
	margin-left: 18px;
}
#g_image{
	cursor: pointer;
	opacity: 0;
	display: none;
}
.btn-file{
	background: #A6A6A6;
    padding: 9px 20px;
    width: 100%;
    border-radius: 0;
    color: black;
}

/*Table Page Css Start*/
.table_heading {
	background: #262937;
    color: white;
    margin-left: 24px;
    font-size: 25px;
}
.table_tabs li a {
	background: #8C8C8C;
    color: blue;
    margin-right: 2px;

}
.table_tabs li {
	margin-right: 50px;
	margin-bottom: 0px;
}
.table_tabs {
background: #8C8C8C;
}
.table_tabs > .active > a, .table_tabs > .active > a:hover, .table_tabs > .active > a:focus{
	background: #8C8C8C !important;
    color: white !important;
    margin-right: 10px !important;
    border-radius: 0px !important;
    border: 1px solid white !important;
}
.table_tabs>li>a:hover {
    background: #8C8C8C;
    color: blue;
    margin-right: 10px;
    border-radius: 0px;
}
.table_overview_icons i{
	 font-size: 20px;
    margin-right: 10px;
}
.table_chart {
	font-size: 17px;
    margin-left: 10px;
}
.time_btn li{
	margin-top: 10px;
	font-size: 11px;
}
.reservation {
	border: 1px solid #a8a8a8;
	padding-bottom: 10px;
	margin-top: 67px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.reservation_info{
	margin-left: 10px;
    margin-right: 10px;
}
.reservation_heading {
	background: gray;
 padding-bottom: 6px;
}
.reservation_heading span {
	margin-left: 10px;
    color: white;
    font-size: 26px;
}
.slider-controls .left{
  	position: absolute;
    left: -38px;
    top: 40%;
    font-size: 25px;
    color: #00a4f0;
}
.slider-controls .right{
  	position: absolute;
    right: -40px;
    top: 40%;
    font-size: 25px;
    color: #00a4f0;
}
.photo img {
  height: 150px;

}
.slider-1 {
	padding-left: 30px;
    padding-right: 30px;
}
.mobile-slider1 {
	text-align: center;
}
.mobile-slider2 {
	text-align: center;

}
/*.service-heading {}*/
/*Table Page css Ends*/


/*Footer Css*/
.top-footer-section{
	background: #fff;
	border-top: 1px solid lightgray;
}
.top-footer-section .row{
    padding: 5px 35px;
}
.top-footer-section .row .col-md-2 a{
	color: gray;
	font-size: 17px;
}
.footer-sec-2{
	padding-left: 0;
	padding-right: 0;
}
.footer-sec-2 ul{
	list-style: none;
	padding-left: 0;
}
.footer-sec-2 ul li a, .footer-sec-2 ul li{
	color: #929292;
    cursor: pointer;
    font-size: 12px;
    padding-left: 3px;
    float: left;
}
.footer-sec-2 ul li a, .footer-sec-2 ul li{
    color: #929292;
    cursor: pointer;
}
.bottom-footer-section{
	background: #DEDEDE;
	padding: 15px 26px;
}
.copyright a{
	color: #222;
}
/*End Footer*/
.category-img{
	overflow: hidden;
}
.category-img img:hover{
	transform: scale(1.1);
	transition: all .2s linear; \
	overflow: hidden;
}
/*Category Listing*/
.col-md-2-5{
	width: 21%;
}
.col-md-9-5{
	width: 79%;
	padding-left: 15px;
	padding-right: 5px;
}
.left-sidebar{
	padding: 0;
    border: 2px solid #84848454;
	border-radius: 8px;
	background: white;
}
.left-sidebar .title{
	background: #696969;
	border-radius: 8px;
	margin-bottom: 8px;
	margin-top: -1px;
	margin-right: -1px;
}
.left-sidebar .title h4{
	margin: 0;
	padding: 10px;
	color: white;
	text-transform: uppercase;
}
.left-sidebar .title2{
	background: #8C8C8C;
	margin-bottom: 5px;
	margin-top: -1px;
}
.left-sidebar .title2 h5{
	margin: 0;
	padding: 10px;
	color: white;
	font-weight: 600;
}
.section1 h5{
	padding: 0 10px;
	color: gray;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.section1 h5 .fa{
	color: darkgray;
}
.coupon{
	margin-bottom: 10px;
}
.coupon .btn{
	margin: 0 10px;
	width: 90%;
	border: 2px solid #8C8C8C;
	border-radius: 0;
}
.ads-section1 .row{
	margin: 0;
	padding: 15px 0;
}
.popular-area{
	margin-bottom: 10px;
}
.popular-area .title2{
	margin-bottom: 0;
}
.popular-area ul{
	padding-left: 0;
	list-style: none;
}
.popular-area ul li{
	padding: 10px 10px;
    color: #333333e3;
    border-bottom: 1px solid;
    margin-bottom: 0;
    display: block !important;
}
.popular-area ul li:last-Child{
	border-bottom: 0;
}
.popular-area ul li .fa{
	font-size: 9px;
    padding: 0px 5px 0 0;
}
.popular-area .btn{
	border: 2px solid #8C8C8C;
	border-radius: 0;
	margin-left: 10px;
}
.search-storesBtn{
	width: 75%;
    margin-left: 30px !important;
}
.relted-product{
	border-bottom: 0 !important;
	margin: 20px 0;
}
.favorite-store .title2{
	margin-bottom: 0;
}
.favorite-store h5{
	border-bottom: 0;
}
.favorite-store .row{
	margin-bottom: 10px !important;
}
.favorite-store .row .col-md-8 p{
	margin-bottom: 0;
}
.favorite-store .row .col-md-8 p b{
	/*color: #222222c7;*/
}
.favorite-store .row .col-md-8 a{
	color: #222;
}
.col-md-9-5 ul{
	border: 1px solid black;
	/*padding: 10px;*/
	padding-left: 0;
	text-align: right;
}
.col-md-9-5 ul li{
	padding: 10px 18px;
	border-right: 1px solid lightgray;
}
.col-md-9-5 ul li a{
	color: #696868;
}
.curve {
	background: #DADADA;
	padding: 10px 15px 10px 2px;
	text-transform: uppercase;
	color: gray;	
	font-size: 12px;	
	float: left;
	margin-top: 2px;																																																																												
}
.curve:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 24px solid #dddddd;
    position: absolute;
    top: 20.7%;
    left: 33.3%
}
.list-dropdown .dropdown-menu{
	min-width: 75px;
	box-shadow: none;
	border-radius: 0;
}
.list-dropdown .dropdown-menu li{
	display: block !important;
	padding: 0;
	border: 0;
}
.list-dropdown .dropdown-menu >li>a{
	padding-left: 10px;
}
.listing-grid{
	border: 1px solid #5d5b5b61;
	margin: 0;
	margin-bottom: 20px;
}
.listing-grid .col-md-3{
	padding-left: 0;
	padding-right: 0;
}
.listing-grid .col-md-9:nth-Child(1){
	padding-left: 15px;
}
.grid-detail ul{
	text-align: left;
	border: 0;
}
.grid-detail ul li{
	padding: 0 15px;
	/*padding-left: 7px;*/
}
.grid-detail ul li:last-Child{
	border-right: 0 !important;
}
.table-btn{
	padding: 25px 0;
}
.table-btn .btn{
	padding: 6px 20px;
	width: 75%;
	margin-bottom: 7px;
}
.table-btn .btn .fa{
	padding-left: 22px;
}
.bottom-row{
	background: #E9E9E9;
	padding: 5px 0;
}
.bottom-row-btn{
	width: 50%;
}
.bottom-row-btn .btn{
	border: 1px solid;
	border-radius: 0;
	background: transparent;
}
.paymnt-section{
	width: 50%;
	text-align: right;
}
.paymnt-section span{
	font-size: 11px;
	padding-right: 10px;
}
.paymnt-section span:nth-Child(1){
	color: orange;
}
.paymnt-section span:nth-Child(1) .fa{
	color: #222;
}
.paymnt-section span .fa-stumbleupon-circle{
    color: orange;
}
.picture-overlay{
	background: black;
    position: absolute;
    top: 84%;
    opacity: 0.7;
    color: white;
    height: 32px;
    width: 100%;
}
.picture-overlay p{
	margin-top:5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
/*Image View*/
.image-view{
	margin: 0 !important;
}
.image-view .listing-grid{
	padding-left: 0;
	padding-right: 0;
    padding-bottom: 10px;
    margin-left: -4px;
    width: 49.6%;
}
.image-view .listing-grid:nth-Child(Odd){
	margin-right: 15px;
}
.image-view .picture-overlay{
	background: black;
    position: absolute;
    top: 0;
    opacity: 0.7;
    color: white;
    height: auto;
    width: 100%;
    height: 252px;
}
.image-view .picture-overlay h3{
	margin-top: 10px;
	padding-left: 10px;
}
.image-view .picture-overlay ul{
	text-align: left;
	border: 0;
	padding-left: 10px;
	position: absolute;
    bottom: 0;
}
.image-view .picture-overlay ul li{
    padding: 0 15px;
}
.image-view .picture-overlay ul li .fa-comments{
    color: #0368ff;
}
.image-view .picture-overlay ul li .fa-video-camera{
    color: red;
}
.image-view .bottom-section{
	padding: 10px 0;
	margin: 0;
}
.bottom-section .table-btn .btn{
	/*width: 100%;*/
	padding: 6px 7px;
}
.like-circle{
	background: green;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    margin-right: 8px;
}
.like-circle .fa{
	padding-left: 6px;
    padding-top: 3px;
}
.rating_star i {
    color: #ffaa10;
}
.btn-bottom-sec .paymnt-section{
	width: 100%;
	text-align: left;
	padding-bottom: 10px;
}
.btn-bottom-sec .bottom-row-btn{
	width: 100%;
}
.btn-bottom-sec .bottom-row-btn .btn{
	margin-right: 10px;
}
.listing-dropdown{
	top: 1.6% !important;
    left: 79% !important;
}
select {
  font-family: 'FontAwesome'
}
.listing-option{
	border: 0;
	background: transparent;
}
.listing-option:focus{
	outline-offset: 0px !important;
	outline: none !important;
}
/*End Category List/
/*login page css*/
#nvbr
{
	background-color: black;
	padding: 7px 7px;
	margin-top: 20px;
}
#cont
{
	background-color: white;
}
.rw
{
	margin-left: 0px;
	margin-right: 0px;
}

#hd3
{
    margin-left:10px;
    margin-top: 0px;
}
.frm
{
	background-color: light gray;
	padding:10px;
}
.login
{
	margin-left: 10px;
}
.login a
{
	font-size: 16px;
}
.right-sec
{
	padding-top:50px;
}
.fa-lock, .fa-check-square-o, .fa-user-plus, .fa-heart
{
	padding-top: 8px;
	color: gray;
}
.btnpdng
{
	margin: 20px 0px 15px;
	padding: 7px 0px;
}
.rght
{
	margin-right: 10px;
}
#brdr
{
	border-right: 1px solid gray;
	margin-top: 60px;

}
#lblpdng
{
	padding: 5px 0px;
}
/*Media Query*/
@media  only screen and (max-width: 767px){
	.col-md-2-1{
		width: 100% !important;
	}
	.contentblock .col-md-12 {
    	display: block;
	}
	.contentblock2 .col-md-12{
		display: block;
	}
	.bar-container {
		 width: 15%;
	}
	.label_tabs {
		padding: 0.5em;
	}

	.menu_btn_row .col-xs-12 {
		padding-bottom: 8px;
	}
	.review_card h4 {
		font-size: 14px !important;
	}
	.review_card p {
		font-size: 11px !important;
	}
	.review_card a {
		font-size: 11px !important;
	}
	.about_hotel {
		width: 100%;
	}
	.about_hotel_bottom {
		margin-top: 130px;
	}
	.about_hotel_bottom .col{
		height: 63px;
	}
	.catgry-list .col-xs-6{
		text-align: justify;
	}
	.col-md-9-5{
		width: 100%;
	}
	.listing-grid .table-btn{
		text-align: center;
	}
	.col-md-9-5 ul{
		text-align: left;
	}
	.review_section {
		margin-left: 15px;
	}
	.category_btn_col {
	  margin-left: 5px;
	}
	.search_nav .select-sec {
	   width: 48%;
	}
	.search_nav .input-group {
	    width: 57%
	}
	.search_bar .col-lg-8 {
		width: 100%;
	}
	.search_main {
    	margin-left: 17px !important;
    	width: 72% !important;

	}
	.view_icon {
		padding-left: 0;
	}
	.table_tabs li {
	margin-right: 0px;
	}
	.overview .icon_col {
		margin-left: 20px;
	}	
}